#canvasExample, #svgExample {
    position:relative;
    width:100%;
  }

#chart{ 
        display:flex;
        justify-content: center;
        }   
.tooltip {
        opacity: 0;
        position: absolute;
        pointer-events: none;
        font-family: Arial, helvetica, sans-serif;
        font-size: 1rem;
        padding: .5rem;
        background: rgba(0, 0, 0, 0.7);
        border: 1px solid #FFFFFF;
        box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 10px;
        color: #FFFFFF;
        border-radius: 4px;    
        }

h2{
        color: rgb(239, 238, 245);
        padding: 5px 50px;
        border: 2px solid #ddd6d6;
        width: auto;
        height: 90px;
        text-align: center;
        background-color: #516258;
        font-size: 35px;
        }

h3{
        color: rgb(239, 238, 245);
        padding: 5px 50px;
        border: 2px solid #ddd6d6;
        width: auto;
        height: fit-content;
        text-align: center;
        background-color: #7a8d81;
        font-size: 25px; 
        align-content: center;
        }
#container{
            padding: 20px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 100px;
        }
footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: #111111;
        color: #fff;
        text-align: left;
        padding: 10px;
        line-height: 0.5; 
        }